$yellow: #e3ed21;
$blue: #2063F1;
$red: #e61e17;
$sky: #D7E3F4;

@mixin estilo($top, $bottom, $color, $paddingTop, $paddingBottom){
    margin-top: $top;
    margin-bottom: $bottom;
    color: $color;
    padding-top: $paddingTop;
    padding-bottom: $paddingBottom;
}

.jumbotron{
	background-color: $blue;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	@include estilo(10px, 5px, white, 65px, 65px);
}

.footer{
	padding-right: 10px;
	padding-left: 10px;
	background-color: black;
	@include estilo(10px, 5px, white, 10px, 10px);
}

.card-hotel{
	flex: 1 250px;
	padding: 3px 5px 3px 2px;
	border-color: $sky;
	border-style: solid;
	border-width: 1.5px;
	margin: 5px;
}

.btn-reserva{
	width: 100%;
	background-color: $blue;
}

.footer-adrress-icon{
    padding-right: 10px
}

.star-icon{
    color: gold;
}

.tab-content{
    padding-top: 10px;
}