.jumbotron {
  background-color: #2063F1;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
}
.footer {
  padding: 10px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
}
.card-hotel {
  flex: 1 250px;
  padding: 3px 5px 3px 2px;
  border-color: #D7E3F4;
  border-style: solid;
  border-width: 1.5px;
  margin: 5px;
}
.btn-reserva {
  width: 100%;
  background-color: #2063F1;
}
.footer-adrress-icon {
  padding-right: 10px;
}
.star-icon {
  color: gold;
}
.tab-content {
  padding-top: 10px;
}
